/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */



@font-face {
  font-family: "komorebi-gothic";
  src: url(MODI_komorebi-gothic_2018_0501/komorebi-gothic-P.ttf);
}

header {
  height: 20vh;
  width: 100vw;
  background-color: white;
}

.title-menu {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 70px;
  padding: 10px 20px;
  color: orange;
}

.infoes{
  margin: 45px 30px -45px 30px;
  padding: 20px 20px;
  border: 5px solid orange;
  border-radius: 20px;
}

.info2 {
  height: 45px;
  width: 200px;
  font-size: 30px;
  background-color: orange;
  color: white;
  text-align: center;
  margin: 0px 30px 5px 30px;
}

.info {
  font-size: 30px;
  color: orange;
  text-align: center;
}

.contents {
  background-color: white;
}

body {
}

.upper-content {
  height: 600px;
  background-color: white;
  display: flex;
}

.top-image {
  height: 85%;
  width: 100vw;
  margin-left: 20px;
  border-radius: 20px;
}

.concept {
  height: 400px;
  width: 700px;
  background-color: orange;
  margin: 200px 30px 0px -30px;
  border-radius: 20px;
}

.concept-text {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
}

.concept-key {
  font-size: 50px;
}

.middle-content {
  height: 1000px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.left-content {
  height: 970px;
  width: 550px;
  background-color: bisque;
  color: black;
  border-radius: 20px;
}

.menu-name {
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 20px 60px 0px 60px;
}

.menus {
  width: 300px;
  margin: 0px 120px;
  text-align: center;
}

.menu {
  width: 200px;
  font-size: 20px;
  margin: 30px 50px 0 50px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.menu-contents {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.menu-content {
  font-size: 15px;
  margin-left: 30px;
}

.menu-price {
  font-size: 15px;
  margin-right: 30px;
  margin-top: 0px;
}

.menu-info {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}

.right-content {
  height: 970px;
  width: 550px;
  background-color: bisque;
  color: black;
  border-radius: 20px;
}

.delivery-info {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}

.delivery-info2 {
  font-size: 20px;
  text-align: center;
  margin: 100px 50px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.middle2-content {
  display: flex;
  justify-content: center;
}

.menu-info2 {
  height: 80px;
  width: 800px;
  background-color: white;
  border: 5px solid orange;
  margin-bottom: 50px;
  border-radius: 20px;
}

.menu-text {
  font-size: 25px;
  color: black;
  text-align: center;
}

.bottom-content {
  height: 700px;
  background-color: orange;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  color: white;
}

.owner {
  height: 580px;
  width: 400px;
}

.owner-info{
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 10px 40px;
}

.owner-name {
  font-size: 20px;
  margin: 10px 0px 10px 40px;
  padding: 10px 100px 10px 100px;
}

.owner-face {
  height: 430px;
  width: 350px;
  margin: 20px 20px 30px 20px;
  border-radius: 20px;
}

.addresses {
  height: 580px;
  width: 620px;
}

.address {
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 10px 40px;
}

.address-name {
  font-size: 20px;
  margin: 10px 0px 10px 40px;
}

.map-image {
  height: 430px;
  width: 600px;
  margin: 10px 30px 10px 10px;
  border-radius: 20px;
}

footer {
  height: 10vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.last-info {
  font-size: 35px;
  color: orange;
  padding: 10px 20px;
}

/*スマホ表示*/
@media (max-width: 375px) {
  header {
    height: 80px;
    width: 100vw;
    background-color: white;
    margin-bottom: 5px;
  }
  
  .title-menu {
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    font-size: 25px;
    padding: 20px 0px;
    color: orange;
  }
  
  .infoes{
    height: 55px;
    width: 100px;
    margin: 5px 10px 5px 10px;
    padding: 5px 5px;
    border: 5px solid orange;
  }
  
  .info2 {
    height: 15px;
    width: 70px;
    font-size: 9px;
    background-color: orange;
    color: white;
    text-align: center;
    margin: 0px 13px 5px 13px;
  }
  
  .info {
    font-size: 10px;
    color: orange;
    margin-left: 5px;
  }
  
  .contents {
    background-color: white;
  }
  
  .upper-content {
    height: 300px;
    width: 100vw;
    background-color: white;
    display: block;
  }
  
  .top-image {
    height: 250px;
    width: 100vw;
    margin-left: 0px;
    position: relative;
  }
  
  .concept {
    height: 150px;
    width: 200px;
    background-color: orange;
    margin: -100px 5px 5px 150px;
    position: absolute;
  }
  
  .concept-text {
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 25px 20px;
  }
  
  .concept-key {
    font-size: 20px;
  }
  
  .middle-content {
    height: 1450px;
    width: 100vw;
    display: block;
    align-items: center;
    margin-top: 5px;
  }
  
  .left-content {
    height: 800px;
    width: 100%;
    background-color: bisque;
    color: black;
  }
  
  .menu-name {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 30px 60px 0px 60px;
  }
  
  .menus {
    width: 300px;
    margin: 0px 50px;
    text-align: center;
  }
  
  .menu {
    width: 150px;
    font-size: 15px;
    margin: 20px 65px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  
  .menu-contents {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-content {
    font-size: 12px;
    margin-left: 40px;
  }
  
  .menu-price {
    font-size: 12px;
    margin-right: 70px;
  }
  
  .menu-info {
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  .right-content {
    height: 600px;
    width: 100%;
    background-color: bisque;
    color: black;
  }
  
  .delivery-info {
    font-size: 15px;
    text-align: center;
    margin-top: 35px;
  }
  
  .delivery-info2 {
    font-size: 15px;
    text-align: center;
    margin: 40px 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  
  .middle2-content {
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  .menu-info2 {
    height: 80px;
    width: 95vw;
    background-color: white;
    border: 5px solid orange;
  }
  
  .menu-text {
    font-size: 14px;
    color: black;
    text-align: center;
    padding-top: 12px;
  }
  
  .bottom-content {
    height: 830px;
    width: 100vw;
    background-color: orange;
    display: block;
    align-items: center;
    color: white;
  }
  
  .owner {
    height: 400px;
    width: 100%;
  }
  
  .owner-info{
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px 40px;
    padding-bottom: 5px;
  }
  
  .owner-name {
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
  }
  
  .owner-face {
    height: 250px;
    width: 190px;
    margin: 5px 90px;
  }
  
  .addresses {
    height: 500px;
    width: 100%;
  }
  
  .address {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px 40px;
    padding-bottom: 5px;
  }
  
  .address-name {
    font-size: 15px;
    margin: 15px 70px;
  }
  
  .map-image {
    height: 250px;
    width: 97%;
    margin: 5px;
  }
  
  footer {
    height: 40px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .last-info {
    font-size: 15px;
    color: orange;
    padding: 10px 5px;
  }
}


/*スマホ表示*/
@media (max-width: 320px) {
  header {
    height: 80px;
    width: 100vw;
    background-color: white;
    margin-bottom: 5px;
  }
  
  .title-menu {
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    font-size: 25px;
    padding: 20px 0px;
    color: orange;
  }
  
  .infoes{
    height: 55px;
    width: 100px;
    margin: 5px 10px 5px 10px;
    padding: 5px 5px;
    border: 5px solid orange;
  }
  
  .info2 {
    height: 15px;
    width: 70px;
    font-size: 9px;
    background-color: orange;
    color: white;
    text-align: center;
    margin: 0px 13px 5px 13px;
  }
  
  .info {
    font-size: 10px;
    color: orange;
    margin-left: 5px;
  }
  
  .contents {
    background-color: white;
  }
  
  .upper-content {
    height: 300px;
    width: 100vw;
    background-color: white;
    display: block;
  }
  
  .top-image {
    height: 250px;
    width: 100vw;
    margin-left: 0px;
    position: relative;
  }
  
  .concept {
    height: 150px;
    width: 200px;
    background-color: orange;
    margin: -100px 5px 5px 100px;
    position: absolute;
  }
  
  .concept-text {
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 25px 20px;
  }
  
  .concept-key {
    font-size: 20px;
  }
  
  .middle-content {
    height: 1450px;
    width: 100vw;
    display: block;
    align-items: center;
    margin-top: 5px;
  }
  
  .left-content {
    height: 800px;
    width: 100%;
    background-color: bisque;
    color: black;
  }
  
  .menu-name {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 30px 60px 0px 60px;
  }
  
  .menus {
    width: 300px;
    margin: 0px 20px;
    text-align: center;
  }
  
  .menu {
    width: 150px;
    font-size: 15px;
    margin: 20px 65px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  
  .menu-contents {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-content {
    font-size: 12px;
    margin-left: 40px;
  }
  
  .menu-price {
    font-size: 12px;
    margin-right: 70px;
    padding-bottom: 6px;
  }
  
  .menu-info {
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  .right-content {
    height: 600px;
    width: 100%;
    background-color: bisque;
    color: black;
  }
  
  .delivery-info {
    font-size: 15px;
    text-align: center;
    margin-top: 35px;
  }
  
  .delivery-info2 {
    font-size: 15px;
    text-align: center;
    margin: 40px 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  
  .middle2-content {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  .menu-info2 {
    height: 65px;
    width: 95vw;
    background-color: white;
    border: 5px solid orange;
  }
  
  .menu-text {
    font-size: 12px;
    color: black;
    text-align: center;
    padding-top: 12px;
  }
  
  .bottom-content {
    height: 830px;
    width: 100vw;
    background-color: orange;
    display: block;
    align-items: center;
    color: white;
  }
  
  .owner {
    height: 400px;
    width: 100%;
  }
  
  .owner-info{
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px 40px;
    padding-bottom: 5px;
  }
  
  .owner-name {
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
  }
  
  .owner-face {
    height: 250px;
    width: 175px;
    margin: 5px 70px;
  }
  
  .addresses {
    height: 500px;
    width: 100%;
  }
  
  .address {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px 40px;
    padding-bottom: 5px;
  }
  
  .address-name {
    font-size: 15px;
    margin: 15px 70px;
  }
  
  .map-image {
    height: 250px;
    width: 97%;
    margin: 5px;
  }
  
  footer {
    height: 40px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .last-info {
    font-size: 15px;
    color: orange;
    padding: 10px 5px;
  }
}


/*タブレット表示*/
@media (max-width: 768px) {
  header {
    height: 150px;
    width: 100vw;
    background-color: white;
    margin-bottom: 5px;
  }
  
  .title-menu {
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    font-size: 60px;
    padding: 20px 0px;
    color: orange;
  }
  
  .infoes{
    height: 100px;
    width: 200px;
    margin: 15px 20px 5px 10px;
    padding: 5px 5px;
    border: 5px solid orange;
  }
  
  .info2 {
    height: 30px;
    width: 150px;
    font-size: 20px;
    background-color: orange;
    color: white;
    text-align: center;
    margin: 0px 30px 5px 30px;
  }
  
  .info {
    font-size: 20px;
    color: orange;
    margin-left: 5px;
  }
  
  .contents {
    background-color: white;
  }
  
  .upper-content {
    height: 600px;
    width: 100vw;
    background-color: white;
    display: block;
  }
  
  .top-image {
    height: 450px;
    width: 100vw;
    margin-left: 0px;
    position: relative;
  }
  
  .concept {
    height: 270px;
    width: 400px;
    background-color: orange;
    margin: -150px 20px 20px 350px;
    position: absolute;
  }
  
  .concept-text {
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 25px 25px;
  }
  
  .concept-key {
    font-size: 35px;
  }
  
  .middle-content {
    height: 920px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }
  
  .left-content {
    height: 900px;
    width: 400px;
    background-color: bisque;
    color: black;
  }
  
  .menu-name {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 30px 60px 0px 60px;
  }
  
  .menus {
    width: 300px;
    margin: 0px 60px;
    text-align: center;
  }
  
  .menu {
    width: 150px;
    font-size: 15px;
    margin: 20px 65px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  
  .menu-contents {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-content {
    font-size: 12px;
    margin-left: 40px;
  }
  
  .menu-price {
    font-size: 12px;
    margin-right: 70px;
    padding-bottom: 6px;
  }
  
  .menu-info {
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  .right-content {
    height: 900px;
    width: 400px;
    background-color: bisque;
    color: black;
  }
  
  .delivery-info {
    font-size: 15px;
    text-align: center;
    margin-top: 35px;
  }
  
  .delivery-info2 {
    font-size: 15px;
    text-align: center;
    margin: 40px 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  
  .middle2-content {
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  .menu-info2 {
    height: 95px;
    width: 85vw;
    background-color: white;
    border: 5px solid orange;
  }
  
  .menu-text {
    font-size: 25px;
    color: black;
    text-align: center;
    padding-top: 12px;
  }
  
  .bottom-content {
    height: 1000px;
    width: 100vw;
    background-color: orange;
    display: block;
    align-items: center;
    color: white;
  }
  
  .owner {
    height: 400px;
    width: 100%;
  }
  
  .owner-info{
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px 40px;
    padding-bottom: 5px;
  }
  
  .owner-name {
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
  }
  
  .owner-face {
    height: 250px;
    width: 175px;
    margin: 5px 300px;
  }
  
  .addresses {
    height: 500px;
    width: 100%;
  }
  
  .address {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px 40px;
    padding-bottom: 5px;
  }
  
  .address-name {
    font-size: 25px;
    margin: 15px 70px;
  }
  
  .map-image {
    height: 400px;
    width: 80%;
    margin: 5px 80px;
  }
  
  footer {
    height: 80px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .last-info {
    font-size: 30px;
    color: orange;
    padding: 10px 5px;
  }
}